<ion-header>
    <new-navbar></new-navbar>
</ion-header>

<ion-content #con1 padding>
    <ion-list-header *ngIf="!hasabaaberta" text-left style="color: black" color="cor2">
        MENU PRINCIPAL
    </ion-list-header>

    <ion-list *ngFor="let item of dbdata.items">

        <ion-list-header text-left style="color: black" [color]="item.cor==4? 'cor4': 'cor1'" (click)="itemTapped($event, item)">
            {{item.title}}
            <span item-right style="color: white">{{
                item.id==1&&item.show?(ts.dadosUsuario.tipo==0?"USUÁRIO":(ts.dadosUsuario.tipo==1)?"PONTO DE VENDA":(ts.dadosUsuario.tipo==2)?"PRODUTOR":"ADMINISTRADOR"):""
                }}</span>
            <button *ngIf="item.title=='CERTIFICADORAS'||item.title=='PRODUTOS'||item.title=='CATEGORIAS'||item.title=='MARCAS'" ion-button color="primary" icon-only item-right clear (click)="novacert($event,item)">                 
                  <ion-icon  name="add-circle" item-right></ion-icon>
                </button>
            <ion-icon *ngIf="item.show" name="arrow-dropdown" item-right></ion-icon>
            <ion-icon *ngIf="!item.show" name="arrow-dropright" item-right></ion-icon>
        </ion-list-header>
        <ion-grid *ngIf="item.show&&item.id==1&&ts.dadosUsuario.tipo!=0">
            <ion-row justify-content-center>
                <ion-col col-6>
                    <button style="color:#F5811E" ion-button block outline color="light" item-center (click)="obterCodigo(item)">
                       OBTER CÓDIGO 
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button style="color:white" ion-button block color="cor1" item-center (click)="enviarDoc(item)">
                       ENVIAR DOC
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <button style="color:white" ion-button block color="cor1" item-center (click)="mensagens(item)">
                       MENSAGENS
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button style="color:#F5811E" ion-button block outline color="light" item-center (click)="promocoes(item)">
                       PROMOÇÕES
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list *ngFor="let menuitem of item.menuitems" style="background-color: white">
            <ion-list-header *ngIf="item.show" text-left style="color: white" color="cor2" (click)="itemTapped($event, item)">
                {{menuitem.title}}
                <button *ngIf="item.title=='CERTIFICADORAS'||item.title=='PRODUTOS'||item.title=='CATEGORIAS'||item.title=='MARCAS'" ion-button item-right color="light" icon-only clear (click)="deleteEntry($event, item, menuitem)">
                  <ion-icon name="trash" ></ion-icon>
                </button>
                <button *ngIf="menuitem.tipo!=1||item.title!='MEU BIOATEST'" ion-button color="light" icon-only small item-right clear (click)="menuitemclick($event,item,menuitem)">
                 <ion-icon name="create"   item-right></ion-icon>
                </button>
                <p color="light" *ngIf="menuitem.tipo==1" item-right>{{menuitem.title}} </p>

                <button ion-button color="light" icon-only small item-right clear (click)="showhideclick($event,item,menuitem)">                 
                 <ion-icon *ngIf="menuitem.showdados" name="arrow-dropdown" item-right></ion-icon>
                 <ion-icon *ngIf="!menuitem.showdados" name="arrow-dropright" item-right></ion-icon>
                </button>
            </ion-list-header>
            <ion-list no-lines *ngIf="menuitem.showdados&&item.show" style="background-color: white">
                <!--<input type="file" capture="camera" accept="image/*" id="takePictureField">-->
                <ion-item text-wrap *ngFor="let linha of menuitem.linhas">
                    <b>{{linha.title}}</b>: <span style="user-select:text" *ngIf="linha.title!='WEBSITE'&&linha.title!='EMAIL'">{{linha.info}}</span>
                    <a *ngIf="linha.title=='WEBSITE'" [href]="linha.info">{{linha.info}}</a>
                    <a *ngIf="linha.title=='EMAIL'" [href]="'mailto:'+linha.info">{{linha.info}}</a>
                    <ion-card *ngIf="linha.title=='IMAGEM'">
                        <img src="{{pathForImage(menuitem.dbdata.imagem)}}" [hidden]="menuitem.dbdata.imagem === null||menuitem.dbdata.imagem === undefined">
                        <ion-card-content>
                            <h3 [hidden]="menuitem.dbdata.imagem !== null">Por Favor selecione uma imagem!</h3>
                            <ion-buttons item-center>
                                <button ion-button icon-left item-center (click)="presentActionSheet(menuitem,linha)">
                                 <ion-icon name="camera"></ion-icon>Selecionar imagem
                                </button>
                                <button ion-button icon-left item-center (click)="deletaImagem(menuitem,linha)">
                                 <ion-icon name="trash"></ion-icon>Apagar
                                </button>

                            </ion-buttons>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list>
        </ion-list>
        <ion-infinite-scroll *ngIf="item.id==11&&item.show" (ionInfinite)="$event.waitFor(populateListProd())">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>

</ion-content>
<ion-footer>
    <page-rodape></page-rodape>
</ion-footer>