<ion-header>
    <new-navbar></new-navbar>
</ion-header>

<ion-content #con1 padding>
    <ion-list-header *ngIf="!hasabaaberta" text-left style="color: black" color="cor2">
        MENU PRINCIPAL
    </ion-list-header>

    <ion-list *ngFor="let item of dbdata.items">

        <ion-list-header text-left style="color: black" [color]="item.cor==4? 'cor4': 'cor1'" (click)="itemTapped($event, item)">
            {{item.title}}
            <span item-right style="color: white">{{
                item.id==1&&item.show?(ts.dadosUsuario.tipo==0?"USUÁRIO":(ts.dadosUsuario.tipo==1)?"PONTO DE VENDA":(ts.dadosUsuario.tipo==2)?"PRODUTOR":"ADMINISTRADOR"):""
                }}</span>
            <button *ngIf="item.title=='CERTIFICADORAS'||item.title=='PRODUTOS'||item.title=='CATEGORIAS'||item.title=='MARCAS'" ion-button color="primary" icon-only item-right clear (click)="novacert($event,item)">                 
                  <ion-icon  name="add-circle" item-right></ion-icon>
                </button>
            <ion-icon *ngIf="item.show" name="arrow-dropdown" item-right></ion-icon>
            <ion-icon *ngIf="!item.show" name="arrow-dropright" item-right></ion-icon>
        </ion-list-header>
        <ion-grid *ngIf="item.show&&item.id==1&&ts.dadosUsuario.tipo!=0">
            <ion-row justify-content-center>
                <ion-col col-6>
                    <button style="color:#F5811E" ion-button block outline color="light" item-center (click)="obterCodigo(item)">
                       OBTER CÓDIGO 
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button style="color:white" ion-button block color="cor1" item-center (click)="enviarDoc(item)">
                       ENVIAR DOC
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <button style="color:white" ion-button block color="cor1" item-center (click)="mensagens(item)">
                       MENSAGENS
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button style="color:#F5811E" ion-button block outline color="light" item-center (click)="promocoes(item)">
                       PROMOÇÕES
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list *ngFor="let menuitem of item.menuitems" style="background-color: white">
            <ion-list-header *ngIf="item.show" text-left style="color: white" color="cor2" (click)="itemTapped($event, item)">
                {{menuitem.title}}
                <button *ngIf="item.title=='CERTIFICADORAS'||item.title=='PRODUTOS'||item.title=='CATEGORIAS'||item.title=='MARCAS'" ion-button item-right color="light" icon-only clear (click)="deleteEntry($event, item, menuitem)">
                  <ion-icon name="trash" ></ion-icon>
                </button>
                <button *ngIf="menuitem.showeditbutton" ion-button color="light" icon-only small item-right clear (click)="menuitemclick($event,item,menuitem)">
                 <ion-icon name="create"   item-right></ion-icon>
                </button>
                <p color="light" *ngIf="menuitem.tipo==1" item-right>{{menuitem.title}} </p>

                <button ion-button color="light" icon-only small item-right clear (click)="showhideclick($event,item,menuitem)">                 
                 <ion-icon *ngIf="menuitem.showdados" name="arrow-dropdown" item-right></ion-icon>
                 <ion-icon *ngIf="!menuitem.showdados" name="arrow-dropright" item-right></ion-icon>
                </button>
            </ion-list-header>
            <ion-list no-lines *ngIf="menuitem.showdados&&item.show" style="background-color: white">

                <!--<input type="file" capture="camera" accept="image/*" id="takePictureField">-->
                <ion-item no-padding text-wrap *ngFor="let linha of menuitem.linhas">

                    <ion-list *ngIf="linha.dbdata!=null" style="background-color: white">
                        <ion-list-header text-left style="color: black" color="white" (click)="itemClick($event, linha.dbdata)">
                            {{linha.title}}
                            <button *ngIf="linha.title=='PRODUTOS'" ion-button color="primary" icon-only item-right clear (click)="addproduto($event,linha)">                 
                             <ion-icon  name="add-circle" item-right></ion-icon>
                            </button>
                            <button *ngIf="linha.title=='IMAGENS'" ion-button color="primary" icon-only item-right clear (click)="addimagem($event,linha)">                 
                             <ion-icon  name="add-circle" item-right></ion-icon>
                            </button>
                            <button *ngIf="linha.title=='PONTOS DE VENDA'" ion-button color="primary" icon-only item-right clear (click)="addpontodevenda($event,linha)">                 
                             <ion-icon  name="add-circle" item-right></ion-icon>
                            </button>
                            <ion-icon *ngIf="linha.dbdata.show" name="arrow-dropdown" item-right></ion-icon>
                            <ion-icon *ngIf="!linha.dbdata.show" name="arrow-dropright" item-right></ion-icon>
                        </ion-list-header>
                        <ion-list margin-left="32px" *ngIf="linha.dbdata.show">
                            <ion-item-group *ngFor="let itemlinha of linha.dbdata.items">
                                <ion-item style="color: #F5811E" text-wrap>
                                    <b>{{itemlinha.title}}</b>
                                    <button *ngIf="itemlinha.id==1" ion-button color="light" icon-only small item-right clear (click)="itemCreateClick($event, itemlinha)">                 
                                 <ion-icon  style="color: #F5811E" name="create" item-right></ion-icon>
                                </button>
                                    <button ion-button color="light" icon-only small item-right clear (click)="itemClick($event, itemlinha)">                 
                                 <ion-icon *ngIf="itemlinha.show" style="color: #F5811E" name="arrow-dropdown" item-right></ion-icon>
                                 <ion-icon  *ngIf="!itemlinha.show" style="color: #F5811E" name="arrow-dropright" item-right></ion-icon>
                                </button>

                                </ion-item>
                                <ion-item no-padding *ngIf="itemlinha.show">
                                    <ion-card *ngFor="let list of itemlinha.menuitems">
                                        <ion-card-content style="color: #0a0a0a">
                                            <ion-item>
                                                <ion-thumbnail *ngIf="itemlinha.title=='LISTAPRODUTOS'||itemlinha.title=='MINHAS IMAGENS'" item-left>
                                                    <img src="http://athena3d.com.br/bioatest/imagens/{{list.dbdata.imagem}}">
                                                </ion-thumbnail>
                                                <span>{{list.dbdata.nome}}</span>
                                                <button *ngIf="itemlinha.title=='LISTAPRODUTOS'" ion-button item-right color="danger" icon-only clear (click)="deleteEntry($event, itemlinha, list)">
                                                 <ion-icon name="trash" ></ion-icon>
                                                </button>
                                                <button *ngIf="itemlinha.title=='MINHAS IMAGENS'" ion-button item-right color="danger" icon-only clear (click)="deletaImagem(list, itemlinha)">
                                                 <ion-icon name="trash" ></ion-icon>
                                                </button>
                                                <button *ngIf="itemlinha.title=='MEUS PARCEIROS'" ion-button item-right color="danger" icon-only clear (click)="deletaImagem(list, itemlinha)">
                                                 <ion-icon name="trash" ></ion-icon>
                                                </button>
                                            </ion-item>
                                        </ion-card-content>
                                    </ion-card>

                                    <ion-infinite-scroll *ngIf="itemlinha.title=='MINHAS IMAGENS'" (ionInfinite)="$event.waitFor(populateListImgsUsr())">
                                        <ion-infinite-scroll-content></ion-infinite-scroll-content>
                                    </ion-infinite-scroll>
                                    <ion-infinite-scroll *ngIf="itemlinha.title=='MEUS PARCEIROS'" (ionInfinite)="$event.waitFor(populateListParceirosUsr())">
                                        <ion-infinite-scroll-content></ion-infinite-scroll-content>
                                    </ion-infinite-scroll>
                                    <ion-infinite-scroll *ngIf="itemlinha.title=='LISTAPRODUTOS'" (ionInfinite)="$event.waitFor(populateListProdUsr())">
                                        <ion-infinite-scroll-content></ion-infinite-scroll-content>
                                    </ion-infinite-scroll>
                                </ion-item>
                            </ion-item-group>
                        </ion-list>

                    </ion-list>
                    <span *ngIf="linha.dbdata==null"><b >{{linha.title}}</b>:</span>
                    <span style="user-select:text" *ngIf="linha.dbdata==null&&linha.title!='WEBSITE' &&linha.title!='EMAIL'">{{linha.info}}</span>
                    <a *ngIf="linha.title=='WEBSITE'" [href]="linha.info">{{linha.info}}</a>
                    <a *ngIf="linha.title=='EMAIL'" [href]=" 'mailto:'+linha.info">{{linha.info}}</a>

                    <ion-card *ngIf="linha.title=='IMAGEM'">
                        <img src="{{pathForImage(menuitem.dbdata.imagem)}}" [hidden]="menuitem.dbdata.imagem===null||menuitem.dbdata.imagem===undefined">
                        <ion-card-content>
                            <h3 [hidden]="menuitem.dbdata.imagem !==null">Por Favor selecione uma imagem!</h3>
                            <ion-buttons item-center>
                                <button ion-button icon-left item-center (click)="presentActionSheet(menuitem,linha)">
                                 <ion-icon name="camera"></ion-icon>Selecionar imagem
                                </button>
                                <button ion-button icon-left item-center (click)="deletaImagem(menuitem,linha)">
                                 <ion-icon name="trash"></ion-icon>Apagar
                                </button>

                            </ion-buttons>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list>
        </ion-list>
        <ion-infinite-scroll *ngIf="item.id==11&&item.show" (ionInfinite)="$event.waitFor(populateListProd())">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>

</ion-content>
<ion-footer>
    <page-rodape></page-rodape>
</ion-footer>