<ion-header>
    <ion-toolbar color="cor1">
        <ion-title>
            ADICIONAR {{item.title}}
        </ion-title>


        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                  <span ion-text color="primary" showWhen="ios">Cancelar</span>
                  <ion-icon name="md-close" ></ion-icon>
                </button>
        </ion-buttons>

    </ion-toolbar>
    <ion-item color="cor1">
        <ion-checkbox color="danger" [(ngModel)]="selAll" (click)="chkSelTudoClick($event)"></ion-checkbox>
        <ion-label>SELECIONAR TODOS</ion-label>
    </ion-item>
</ion-header>

<ion-content no-padding>
    <ion-list no-lines>
        <ion-item-group *ngFor="let item of dbdata.items[0].menuitems">
            <ion-item>
                <ion-checkbox color="dark" [(ngModel)]="item.showdados" (click)="chkClick($event,item)"></ion-checkbox>
                <h2 item-left>{{item.dbdata.nome}}</h2>

                <ion-thumbnail item-right>
                    <img src="http://athena3d.com.br/bioatest/imagens/{{item.dbdata.imagem}}">
                </ion-thumbnail>
            </ion-item>
            <ion-input type="text" placeholder="Preço" [(ngModel)]="item.dbdata.preco"></ion-input>
            <ion-item-divider color="light"></ion-item-divider>
        </ion-item-group>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(populateListProd())">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab *ngIf="selCount>0" bottom right>
        <button ion-fab mini (click)="add()"><ion-icon name="add"></ion-icon></button>

    </ion-fab>
</ion-content>